{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="/{% static 'img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="/{% static 'img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static '/node_modules/jquery/dist/jquery.min.js' %}"></script>

    <script src="{% static 'js/code.jquery.com_jquery-3.6.4.min.js' %}"
    <!--  https://code.jquery.com/jquery-3.6.4.min.js-->
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
    crossorigin="anonymous"></script>
    <!-- Incluye el plugin slick -->
    <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static '/node_modules/overlayscrollbars/styles/OverlayScrollbars.min.css' %}">
    <link href="{% static '/node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}"
          rel="stylesheet"/>
    <!-- libreria sweetalert2 -->
    <link rel="stylesheet" href="{% static '/node_modules/sweetalert2/dist/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title> Monguarte - Iniciar Sesión </title>
</head>
<body class="  login-page " style="background-image:url(/static/img/fondo.png);">

<!-- Contenido aquí -->
{% block contenido %}

{% endblock contenido %}


</body>

</html>