{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}


{% block contenido %}
    <!-- Content Header (Page header) -->
    <div class="d-flex justify-content-end" style="height: 1px;">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'venta' %}">Ventas</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'ventas' %}">Venta</a></li>
            <li class="breadcrumb-item active">Crear Venta</li>
        </ol>
    </div>
    <!-- /.content-header -->
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Agregar {{ titulo }}">
        <a href="{% url 'ventas' %}" class="btn btn-danger">Regresar</a>
    </form>
    {% block extrajs %}
        {{ form.media }}
    {% endblock extrajs %}

{% endblock contenido %}