{% extends 'partials/body.html' %}
{% block contenido %}
    <!-- /.content-header -->
    <div class="d-flex justify-content-end" style="height: 1px;">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'venta' %}">Ventas</a></li>
            <li class="breadcrumb-item active">Venta</li>
        </ol>
    </div>
    <!-- /.content-header -->
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title"> {{ titulo }} </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Fecha</th>
                                            <th>Vendedor</th>
                                            <th>Cliente</th>
                                            <th>Acción</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for Venta in venta %}
                                            <tr>
                                                <td>{{ Venta.id }}</td>
                                                <td>{{ Venta.fecha }}</td>
                                                <td>{{ Venta.persona_vendedor }}</td>
                                                <td>{{ Venta.persona_cliente }}</td>
                                                <td>
                                                    {% if Venta.estado == '1' %}
                                                        <a class="btn btn-primary btn-md bi bi-wrench m-1 me-1 isabled"
                                                           href="{% url 'detalle_ventas' Venta.id %}">Modificar</a>

                                                    {% else %}
                                                        <a class="btn btn-success btn-md m-1 me-1 toggle-eye "
                                                           onclick="toggleVisibility()"
                                                           href="{% url 'ver_contenido' Venta.id %}">
                                                            <i id="eye-icon" class="fas fa-eye"></i> Ver
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Fecha</th>
                                            <th>Valor Total</th>
                                            <th>Estado</th>
                                            <th>Acción</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        <a href="{% url 'ventas-crear' %}" class="btn btn-success w-25">Crear {{ titulo }}</a>
    </div>
{% endblock contenido %}
