{% extends 'partials/body-login.html' %}
{% load static %}
{% block contenido %}

    <div class="login-box elevation-5">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <div class="text-center">
                    <img class="profile-user-img img-fluid rounded-circle"
                         src="{% static '/img/Monguarte_color.jpg' %}"
                         alt="User profile picture">
                </div>
                <div class="h1"><b>M</b>ongu<b>A</b>rte</div>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Tu contraseña ha sido cambiada satisfactoriamente.</p>

                <p class="mb-0">
                    <a href="{% url 'inicio' %}" class="text-center">Iniciar sesión</a>
                </p>
            </div>
        </div>
    </div>

{% endblock contenido %}
